<div th:replace="/common/header"></div>

<div id="BackLink">
    <a href="/common/main">Return to Check Box</a>
</div>

<div>
    <form action="/commodity/updateProduct" method="post">
        <table>
            <tr>
                <th align="center" colspan="2" >
                    <span th:text="'ProductId: '+${product.productId}"></span>
                    <input type="hidden" name="productId" th:value="${product.productId}"/>
<!--                    <input type="hidden" name="description" th:value="${product.description}"/>-->
                </th>
            </tr>
            <td>Description :</td>
            <td>
                <select name="description" >
                    <option th:value="${product.description}" th:label="${product.description}">错误提示</option>
                    <option th:each="Photo:${allPhotoList}" th:value="${Photo.descn}" th:label="${Photo.descn}">错误提示</option>
                </select>
            </td>
            <tr>
                <td >
                    <image th:src="${product.description}"></image>
                </td>
            </tr>
            <tr>
                <td>Category :</td>
                <td>
                    <select name="categoryId" >
                        <option th:value="${product.categoryId}" th:label="${product.categoryId}">错误提示</option>
                        <option th:each="Category:${allCategoryList}" th:value="${Category.categoryId}" th:label="${Category.categoryId}">错误提示</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Name :</td>
                <td>
                    <input type="text" name="name" th:value="${product.name}"/>
                </td>
            </tr>
        </table>
        <p align="center">
            <input name="editAccount" type="submit" value="Update Prdouct">
        </p>
    </form>
</div>






<div th:replace="/common/footer"></div>
