<div th:replace="/common/header"></div>

<div id="BackLink">
    <a href="/common/main">Return to Check Box</a>
</div>





    <h1 align="center">Accounts</h1>

    <div >

        <table>



            <tr>
                <th>Username</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>phone</th>
                <th></th>

            </tr>




            <tr class="accounts" th:each="user:${userList}" th:id="${user.username}+table">
                <td>
                    <a th:text="${user.username}" th:href="@{/account/manageAccount(username=${user.username})}">
                        username
                    </a>
                </td>
                <td th:text="${user.firstname}">firstname</td>
                <td th:text="${user.lastname}">lastname</td>
                <td th:text="${user.phone}">phone</td>
                <td>
                    <a class="Button" th:href="@{/account/manageAccount(username=${user.username})}">Edit</a>
                </td>

            </tr>


<!--            <tr>-->
<!--                <td>-->
<!--                    username-->
<!--                </td>-->
<!--                <td th:text="${user.username}">-->
<!--                </td>-->
<!--            </tr>-->

<!--            <tr>-->
<!--                <td>-->
<!--                    firstname-->
<!--                </td>-->
<!--                <td th:text="${user.firstname}">-->
<!--                </td>-->
<!--            </tr>-->

<!--            <tr>-->
<!--                <td>-->
<!--                    lastname-->
<!--                </td>-->
<!--                <td th:text="${user.lastname}">-->
<!--                </td>-->
<!--            </tr>-->

<!--            <tr>-->
<!--                <td>-->
<!--                phone-->
<!--                </td>-->
<!--                <td th:text="${user.phone}">-->

<!--                </td>-->
<!--            </tr>-->


        </table>




    </div>









<div th:replace="/common/footer"></div>
