<div th:replace="/common/header"></div>

<div id="BackLink">
    <a href="/common/main">Return to Check Box</a>
</div>



<div id="accounts">

    <h1 align="center">Accounts</h1>

    <div class="accountstable" th:each="user:${userList}">

        <table class="accounts" th:id="${user.username}+table">

            <tr>
                <td>
                    username
                </td>
                <td th:text="${user.username}">
                </td>
            </tr>

            <tr>
                <td>
                    firstname
                </td>
                <td th:text="${user.firstname}">
                </td>
            </tr>

            <tr>
                <td>
                    lastname
                </td>
                <td th:text="${user.lastname}">
                </td>
            </tr>

            <tr>
                <td>
                phone
                </td>
                <td th:text="${user.phone}">

                </td>
            </tr>


        </table>




    </div>




</div>




<div th:replace="/common/footer"></div>
