<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.management.mapper.PhotoMapper">
    <select id="getAllPhotoDescn" resultType="org.csu.management.domain.Photo">
        select * FROM PHOTO
    </select>
</mapper>